# Census Variables

We have decided to volunteer for our local community by offering to clean their recently collected census data.

In [11]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('census_data.csv')
df.head()

,Unnamed: 0,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,marital_status
0,0,Denise,Ratke,2005,False,0,92129.41,disagree,single
1,1,Hali,Cummerata,1987,False,0,75649.17,neutral,divorced
2,2,Salomon,Orn,1992,True,2,166313.45,agree,single
3,3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,married
4,4,Gust,Abernathy,1945,False,2,143316.08,agree,married

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      100 non-null    int64
 1   first_name      100 non-null    object
 2   last_name       100 non-null    object
 3   birth_year      100 non-null    object
 4   voted           100 non-null    bool
 5   num_children    100 non-null    int64
 6   income_year     100 non-null    float64
 7   higher_tax      100 non-null    object
 8   marital_status  100 non-null    object
dtypes: bool(1), float64(1), int64(2), object(5)
memory usage: 6.5+ KB

In [21]:
# Birth year seems to be an object it shout be int
print(df.birth_year.unique())
df.birth_year = df.birth_year.replace('missing',np.NaN)

[2005 1987 1992 1965 1945 1951 1963 1949 1950 1971 2007 1944 1995 1973
 1946 1954 1994 1989 1947 1993 1976 1984 1967 1966 1941 2000 1953 1956
 1960 2001 1980 1955 1985 1996 1968 1979 2006 1962 1981 1959 1977 1978
 1983 1957 1961 1982 2002 1998 1999 1952 1940 1986 1958]

There appears to be a missing value in the birth_year column. With some research you find that the respondent’s birth year is 1967.

In [20]:
df.birth_year = df.birth_year.replace(np.NaN,1967)
df.birth_year= df.birth_year.astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      100 non-null    int64
 1   first_name      100 non-null    object
 2   last_name       100 non-null    object
 3   birth_year      100 non-null    int64
 4   voted           100 non-null    bool
 5   num_children    100 non-null    int64
 6   income_year     100 non-null    float64
 7   higher_tax      100 non-null    object
 8   marital_status  100 non-null    object
dtypes: bool(1), float64(1), int64(3), object(4)
memory usage: 6.5+ KB

In [22]:
print(df.birth_year.mean())

1973.4


Our manager would like to set an order to the higher_tax variable so that: strongly disagree < disagree < neutral < agree < strongly agree.

In [23]:
print(df.higher_tax.unique())

['disagree' 'neutral' 'agree' 'strongly agree' 'strongly disagree']

In [26]:
df.higher_tax = pd.Categorical(df.higher_tax,['strongly disagree','disagree','neutral','agree','strongly agree'])
df.higher_tax = df.higher_tax.cat.codes
# Our manager would also like to know the median sentiment of the respondents on the issue of higher taxes for the wealthy.
print(df.higher_tax.median())

2.0

2 means Nuetral



Our manager is interested in using machine learning models on the census data in the future. To help, let’s One-Hot Encode marital_status to create binary variables of each category.

In [ ]:
df = pd.get_dummies(df,columns = ['marital_status'])